@charset "UTF-8";

/* Versão para todas as mídias */

/* Typical Device Breakponits
==================================

Pequenas Telas: Até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px ate 1200px
Grandes Telas: Acima de 1200px
*/



@media print {

    * {

        font-family: 'Courier New', Courier, monospace;
    }

    body {

        background-color: white;
    }

    main h1 {

        text-overflow: none;
        color: black;
    }

    main::after {

        content: 'Esse impressão foi feita atráves do site www.cursoemvideo.com';
        text-decoration: overline;
    }
   main {

    width: 90vw;
    border: 2px solid black;
    
   }

    img#phone {display: none;}
    img#tv {display: none;}
    img#desktop {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
}




@media screen and (min-width: 768px) and (max-width: 992px) {  /* Tablet */

    body {

        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tv {display: none;}
    img#desktop {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
   
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */

    body {

        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tv {display: none;}
    img#desktop {display: block;}
    img#tablet {display: none;}
    img#print {display: none;}
    
}

@media screen and (min-width: 1200px) { /* TELAS GRANDES */

    body {

        background-image: url(../imagens/back-tv.jpg);
    }
   
    img#phone {display: none;}
    img#tv {display: block;}
    img#desktop {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}

    main {

        width: 700px;
    }
    
}